.button {
	align-items: center;
	appearance: none;
	border: 2px solid var(--button-border);
	cursor: pointer;
	display: flex;
	justify-content: center;
	max-height: 2.75rem;
	max-width: 100%;
	min-height: 2.75rem;
	min-width: 2.75rem;
	position: relative;
	text-decoration: none;
	width: fit-content;

	&:has(svg):has(span) {
		.buttonLabel {
			padding: 0.75rem 0.25rem 0.75rem 1.25rem;

		}

		svg {
			margin-right: 0.75rem;
		}
	}

	&:focus-visible {
		z-index: 1;
		outline: none;
		border-color: var(--button-border-focus);
		box-shadow: 0 0 0 4px var(--button-shadow-focus);
	}

	&.primary {
		background: var(--button-primary-background);
		border-radius: 0.5rem;
		color: var(--button-primary-color);
	}

	&.primaryContrast {
		background: var(--button-primary-contrast-background);
		border-radius: 0.5rem;
		color: var(--button-primary-contrast-color);
	}

	&.secondary {
		background: var(--button-secondary-background);
		border-radius: 4rem;
		color: var(--button-secondary-color);
	}

	&.tertiary {
		background: var(--button-tertiary-background);
		border-radius: 4rem;
		color: var(--button-tertiary-color);
	}

	@media (hover) {
		&.primary:hover {
			background: var(--button-primary-background-hover);
		}

		&.primaryContrast:hover {
			background: var(--button-primary-contrast-background-hover);
		}

		&.secondary:hover {
			background: var(--button-secondary-background-hover);
		}

		&.tertiary:hover {
			background: var(--button-tertiary-background-hover);
		}
	}

	svg {
		display: block;
	}

	.buttonLabel {
		display: block;
		font-size: 1.125rem;
		overflow: hidden;
		padding: 0.75rem 1.25rem;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}