@import './variables/colors.css';

@font-face {
	font-family: 'Lexend';
	src: url('../fonts/Lexend-VariableFont_wght.ttf') format('truetype');
}

@font-face {
	font-family: 'Gabarito';
	src: url('../fonts/Gabarito-VariableFont_wght.ttf') format('truetype');
}

* {
	box-sizing: border-box;
	font-family: Lexend, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	min-height: 100vh;
	overflow: hidden;

	#root {
		min-height: 100vh;
	}

	> div {
		display: flex;
		height: 100vh;
		flex-direction: column;
		width: 100vw;
	}

	main {
		display: flex;
		height: auto;
		flex-grow: 1;
		width: 100vw;

		> section {
			background: var(--main-background);
			border-radius: none;
			display: flex;
			flex-grow: 1;
		}
	}
}

@media only screen and (min-width: 768px) {
	body main {
		padding: 0 1.5rem 1.5rem;

		> section {
			border-radius: 1.25rem;
		}
	}
}

@media only screen and (min-width: 1024px) {
	body main {
		padding: 0 2rem 2rem;
	}
}