@import './variables/colors.css';

@font-face {
	font-family: 'Lexend';
	src: url('../fonts/Lexend-VariableFont_wght.ttf') format('truetype');
}

@font-face {
	font-family: 'Gabarito';
	src: url('../fonts/Gabarito-VariableFont_wght.ttf') format('truetype');
}

* {
	box-sizing: border-box;
	font-family: Lexend, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	min-height: 100vh;
	overflow: hidden;

	#root {
		min-height: 100vh;
	}

	> div {
		display: flex;
		height: 100vh;
		flex-direction: column;
		width: 100vw;
	}

	main {
		display: flex;
		height: auto;
		flex-direction: column;
		flex-grow: 1;
		gap: 0.75rem;
		width: 100vw;

		> aside {
			background: pink;
			border-radius: 0 2rem 0 0;
			height: 16rem;
			width: 100%;
		}

		> section {
			background: var(--main-background);
			border-radius: none;
			display: flex;
			flex-grow: 1;
			padding: 10vw 0;

			.content-block {
				background-color: blueviolet;
				height: min-content;
				padding: 0 10vw;
				width: 100%;
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	body main {
		padding: 0 1.5rem 1.5rem;

		> section {
			border-radius: 1.25rem;
		}
	}
}

@media only screen and (min-width: 1024px) {
	body main {
		flex-direction: row;
		padding: 0 2rem 2rem;

		> aside {
			border-radius: 0 2rem 2rem 0;
			height: 100%;
			order: 1;
			width: 30%;

			+ section {
				border-radius: 2rem 0 0 2rem;
			}
		}

		> section {
			order: 0;
		}
	}
}