@import './variables/colors.css';
@import './variables/fonts.css';
@import './helpers/z-index.css';

* {
	box-sizing: border-box;
	font-family: Gabarito, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	min-height: 100vh;
	overflow: hidden;

	#root {
		min-height: 100vh;
	}

	> div {
		display: flex;
		height: 100vh;
		flex-direction: column;
		width: 100vw;
	}

	.homepage-logo {
		width: 256px;
		margin-block-end: 1.5rem;
	}

	main {
		display: flex;
		height: 0;
		flex-direction: column;
		flex-grow: 1;
		gap: 0.75rem;
		position: relative;
		width: 100vw;

		> aside {
			border-radius: 0 2rem 0 0;
			display: flex;
			height: 16rem;
			flex-shrink: 0;
			overflow: hidden;
			width: 100%;

			> .image-gallery {
				flex-grow: 1;
				background-position: 35%;
				background-size: cover;
				background-image: url(../images/wind-turbines.webp);
			}
		}

		> section {
			background: var(--main-background);
			border-radius: 0;
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			overflow-y: auto;

			.content-block {
				align-items: start;
				border-bottom: 1px solid var(--main-border);
				display: flex;
				flex-direction: column;
				height: min-content;
				justify-content: center;
				padding: 6vw 10vw 6vw;
				width: 100%;

				&:first-of-type:not(:last-of-type):not(:only-of-type) {
					padding: 10vw 10vw 6vw;
				}

				&:only-of-type {
					padding: 10vw;
				}

				&:last-of-type:not(:first-of-type):not(:only-of-type) {
					padding: 6vw 10vw 10vw;
				}

			}
		}
	}
}

@media only screen and (min-width: 768px) {
	body main {
		padding: 0 1.5rem 1.5rem;

		> section {
			border-radius: 1.25rem;
		}
	}
}

@media only screen and (min-width: 1024px) {
	body main {
		flex-direction: row;
		padding: 0 2rem 2rem;

		> aside {
			border-radius: 0 2rem 2rem 0;
			height: 100%;
			order: 1;
			width: 33%;

			+ section {
				border-radius: 2rem 0 0 2rem;
			}
		}

		> section {
			order: 0;
		}
	}
}