@import '../../styles/variables/colors.css';

.navbar {
	align-items: center;
	display: flex;
	height: auto;
	justify-content: space-between;
	overflow: visible;
	padding: 1rem;
	position: relative;
	width: 100vw;

	.navbarLogo {
		display: none;
	}

	.navbarButton {
		margin-inline-end: auto;
	}

	.navbarDropdownOutside {
		height: 100vh;
		left: 0;
		position: absolute;
		top: 0;
		width: 100vw;
	}

	.navbarDropdown {
		background: var(--navbar-background);
		border: 1px solid var(--navbar-border);
		border-radius: 0.75rem;
		box-shadow: 0 4px 8px var(--navbar-shadow);
		display: flex;
		flex-direction: column;
		gap: 0.375rem;
		max-width: calc(100vw - 2rem);
		overflow: hidden;
		padding: 0.5rem;
		position: absolute;
		top: 4.5rem;
	}

	.navbarDropdownInner {
		padding-inline-start: 1rem;
	}

	.navbarLinks {
		display: none;

		li {
			position: relative;

			&:hover .navbarDropdownDesktopWrapper,
			&:focus-visible-within .navbarDropdownDesktopWrapper,
			a:hover + .navbarDropdownDesktopWrapper,
			a:focus-visible + .navbarDropdownDesktopWrapper {
				display: flex;
				z-index: 2;
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.navbar {
		padding: 1.5rem;

		.navbarLogo {
			display: block;
			height: 2.75rem;
			padding-inline-end: 1rem;
		}

		.navbarDropdown {
			left: 135px;
			top: 5rem;
		}
	}
}

@media only screen and (min-width: 1024px) {
	.navbar {
		padding: 2rem;

		.navbarButton {
			display: none;
		}

		.navbarDropdown {
			display: none;
		}

		.navbarLinks {
			display: flex;
			gap: 0.375rem;
			list-style: none;
			max-width: calc(100vw - 2rem);
			padding: 0.5rem;
		}

		.navbarDropdownDesktopWrapper {
			display: none;
			left: 50%;
			padding-block-start: 0.375rem;
			position: absolute;
			top: 2.625rem;
			transform: translate(-50%, 0);

			.navbarDropdownDesktop {
				background: var(--navbar-background);
				border: 1px solid var(--navbar-border);
				border-radius: 0.75rem;
				box-shadow: 0 4px 8px var(--navbar-shadow);
				flex-direction: column;
				gap: 0.375rem;
				max-width: calc(100vw - 2rem);
				overflow: hidden;
				padding: 0.5rem;
			}
		}
	}
}